body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  margin-top: 20%;
}
.active {
  color: red;
}

ul {
  list-style: none;
  padding-left: 0;
}

#notes {
  text-align: center;
}
